services:
  manager:
    deploy:
      replicas: 0
      resources:
        limits:
          cpus: "0.5"
          memory: 256Mb

  bot:
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "0.2"
          memory: 256Mb

  worker-heartbeat:
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "0.2"
          memory: 256Mb

  worker-treatment:
    deploy:
      replicas: 4
      resources:
        limits:
          cpus: "0.2"
          memory: 256Mb

  worker-scraping:
    deploy:
      replicas: 4
      resources:
        limits:
          cpus: "0.2"
          memory: 256Mb

  worker-checkbot:
    deploy:
      replicas: 4
      resources:
        limits:
          cpus: "0.2"
          memory: 256Mb

  worker-checkproxy:
    deploy:
      replicas: 4
      resources:
        limits:
          cpus: "0.2"
          memory: 256Mb

  worker-broadcast:
    deploy:
      replicas: 4
      resources:
        limits:
          cpus: "0.2"
          memory: 256Mb

  worker-sendreport:
    deploy:
      replicas: 4
      resources:
        limits:
          cpus: "0.2"
          memory: 256Mb

