services:
  manager:
    deploy:
      replicas: 0
      resources:
        limits:
          cpus: "0.2"
          memory: 256Mb

  bot:
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "0.2"
          memory: 256Mb

  worker-heartbeat:
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "0.2"
          memory: 256Mb

  worker-treatment:
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: "0.2"
          memory: 256Mb

  worker-scraper:
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: "0.2"
          memory: 256Mb

  worker-proxycheck:
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: "0.2"
          memory: 256Mb

  worker-sendreport:
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: "0.2"
          memory: 256Mb

